# 本地配置文件：application.yaml
# 基本的應用配置和 Nacos 連接配置
spring:
  application:
    name: secret-storage

  # Nacos 配置 - 必須保留在本地
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
#      server-addr: 178.92.75.5:11346

#      password: nacos
#      username: nacos
      discovery:
        server-addr: 127.0.0.1:8848
#        server-addr: 178.92.75.5:11346
      config:
        timeout: 300000


  # 導入 Nacos 配置
  config:
    import: optional:nacos:secretblog_storage_application.yaml

