var:
  endPoint: https://static-host-ah8wqcve-secret.ap-northeast-1.clawcloudrun.com
  secretblog:
    bucketName: ah8wqcve-secret
    accessKey: ah8wqcve
    secretKey: ms4xccbfqjzsk8zz
#var:
#  endPoint: http://4.240.82.138:9001
#  secretblog:
#    bucketName: secretblog
#    accessKey: p6KMsat29WtFgrWPasyR
#    secretKey: bNgTw96toBr5LbGrzKFnL4oXIV0g7khBYuPB4Zhs
spring:
  #  datasource:
  #    driver-class-name: com.mysql.cj.jdbc.Driver
  #    url: jdbc:mysql://secretblog-passerby064857-7179.f.aivencloud.com:15228/secretblog_sms?useUnicode=true&characterEncoding=UTF-8&serverTimezone=GMT%2B8
  #    nickName: avnadmin
  #    password: AVNS_CqdanQfHdIVI8zaK5BW
  application:
    name: secret-storage
  cloud:
    nacos:
      server-addr: 127.0.0.1:8848
#      server-addr: 178.92.75.5:11346

#      password: nacos
#      username: nacos
      discovery:
        server-addr: 127.0.0.1:8848
#        server-addr: 178.92.75.5:11346
      config:
        timeout: 300000
  config:
    import: optional:nacos:secretblog_storage_application.yaml
#  data:
#    redis:
#      port: 56379
#      database: 0
#      host: 4.240.82.138
#  cache:
#    redis:
#      #以下配置為配合SpringCache使用時
#      use-key-prefix: true #開啟前綴
#      key-prefix: SecretBlog #設置前綴
#      time-to-live: 86400000 #設置Redis緩存過期時間，設置為一天，解決緩存雪崩問題
#      cache-null-values: true  #緩存空值,避免緩存穿透
#    type: redis #設置SpringCache緩存使用Redis
logging:
  level:
    root: info
server:
  port: 23000
#mybatis-plus:
#  global-config:
#    db-config:
#      id-type: assign_id
#      logic-delete-field: deleted
#      logic-delete-value: 1
#      logic-not-delete-value: 0
#  configuration:
#    map-underscore-to-camel-case: true
# springdoc-openapi
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan: com.shijiawei.secretblog.storage.controller
# knife4j
#knife4j:
#  enable: true
#  setting:
#    language: zh_cn