<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shijiawei.secretblog.article.mapper.AmsCommentMapper">
    <resultMap id="AmsCommentBaseResultMap" type="com.shijiawei.secretblog.article.entity.AmsComment">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="comment_info_id" property="commentInfoId" jdbcType="BIGINT"/>
        <result column="comment_content" property="commentContent" jdbcType="VARCHAR"/>
        <result column="original_content" property="originalContent" jdbcType="LONGVARCHAR"/>
    </resultMap>


    <select id="getStaticCommentDetails" parameterType="long" resultType="com.shijiawei.secretblog.article.vo.AmsArtCommentStaticVo">

        SELECT
            ci.user_id AS userId,
            ci.nick_name AS nickName,
            ci.avatar AS avatar,
            c.comment_content AS commentContent,
            ci.create_at AS createAt,
            ci.update_at AS updateAt,
            ci.parent_comment_id AS parentCommentId,
            c.id AS commentId
        FROM ams_comment_info AS ci
        INNER JOIN ams_art_comment AS c ON c.comment_info_id = ci.id
        WHERE ci.article_id = #{articleId}
          AND (ci.deleted IS NULL OR ci.deleted = 0);


    </select>

    <select id="selectUserComments" parameterType="map" resultType="com.shijiawei.secretblog.article.vo.AmsUserCommentVo">
        SELECT
            ci.article_id AS articleId,
            ci.comment_id AS commentId,
            ci.create_at AS createAt,
            ci.update_at AS updateAt,
            ci.avatar AS avatar,
            ac.comment_content AS commentContent,
            a.title AS articleTitle
        FROM
            ams_comment_info ci
                LEFT JOIN ams_art_comment ac ON ci.comment_id = ac.id
                LEFT JOIN ams_article a ON ci.article_id = a.id
        WHERE
            ci.user_id = #{userId}
          AND (ci.deleted IS NULL OR ci.deleted = 0)
        ORDER BY
            ci.create_at DESC
    </select>

</mapper>
