server:
  port: 24000

spring:
  application:
    name: secret-search
  elasticsearch:
    username: ${ELASTICSEARCH_USERNAME:elastic}
    password: ${ELASTICSEARCH_PASSWORD:password}
    uris: ${ELASTICSEARCH_URIS:http://localhost:9200}

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    virtual-host: ${RABBITMQ_VIRTUAL_HOST:/}
    # 啟用 SSL 支援
    ssl:
      enabled: ${RABBITMQ_SSL_ENABLED:false}
    #    host: cgk1.clusters.zeabur.com
    #    port: 26082
    #    username: admin
    #    password: 2z9Bgnd65U3EfRja0e8741OqZrCWiDyL
    listener:
      simple:
        retry:
          max-attempts: 3
          enabled: true
          initial-interval: 1000ms
  cloud:
    nacos:
      #      server-addr: 127.0.0.1:8848
      server-addr: ${NACOS_SERVER_ADDR:127.0.0.1:8848}

      #      password: nacos
      #      username: nacos
      discovery:
        #        server-addr: 127.0.0.1:8848
        server-addr: ${NACOS_SERVER_ADDR:127.0.0.1:8848}
      config:
        timeout: 300000
  config:
    import: optional:nacos:secretblog_search_application.yaml

  logging:
    level:
      root: info
#   springdoc-openapi
  springdoc:
    swagger-ui:
      path: /swagger-ui.html
      tags-sorter: alpha
      operations-sorter: alpha
    api-docs:
      path: /v3/api-docs
    group-configs:
      - group: 'default'
        paths-to-match: '/**'
        packages-to-scan: com.shijiawei.secretblog.search.controller

