<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shijiawei.secretblog.user.mapper.UmsAuthsMapper">
    <resultMap id="BaseResultMap" type="com.shijiawei.secretblog.user.entity.UmsAuths">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="password_updated_at" jdbcType="TIMESTAMP" property="passwordUpdatedAt"/>
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>
</mapper>
