<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shijiawei.secretblog.user.mapper.UmsCredentialsMapper">
    <resultMap id="BaseResultMap" type="com.shijiawei.secretblog.user.entity.UmsCredentials">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone_number" jdbcType="VARCHAR" property="phoneNumber" />
        <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
        <result column="update_at" jdbcType="TIMESTAMP" property="updateAt" />
    </resultMap>

</mapper>
