<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shijiawei.secretblog.user.mapper.UmsRoleMapper">
    <resultMap id="UmsRoleResultMap" type="com.shijiawei.secretblog.user.entity.UmsRole">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="role_name" jdbcType="VARCHAR" property="roleName" />
        <result column="role_level" jdbcType="TINYINT" property="roleLevel" />
        <result column="deleted" jdbcType="TINYINT" property="deleted" />
    </resultMap>

</mapper>
