<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shijiawei.secretblog.user.mapper.UmsUserInfoMapper">
    <resultMap id="BaseResultMap" type="com.shijiawei.secretblog.user.entity.UmsUserInfo">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="account_name" jdbcType="VARCHAR" property="accountName"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="gender" jdbcType="TINYINT" property="gender"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="notify_enabled" jdbcType="TINYINT" property="notifyEnabled"/>
        <result column="create_At" jdbcType="TIMESTAMP" property="createAt"/>
        <result column="update_At" jdbcType="TIMESTAMP" property="updateAt"/>
    </resultMap>
</mapper>
