logging:
  level:
    root: info
server:
  port: 88
spring:
  main:
    allow-bean-definition-overriding: true
  profiles:
    active: ${SPRING_PROFILES_ACTIVE:local}
  data:
    redis:
      port: ${REDIS_PORT:6379}
      database: ${REDIS_DATABASE:0}
      host: ${REDIS_HOST:localhost}
      password: ${REDIS_PASSWORD:}
      username: ${REDIS_USERNAME:default}
      ssl:
        enabled: ${REDIS_SSL_ENABLED:false}
  config:
    import: optional:nacos:secretblog_gateway_application.yml
  application:
    name: secret-gateway
  cloud:
    nacos:
      server-addr: ${NACOS_SERVER_ADDR:127.0.0.1:8848}
      discovery:
        server-addr: ${NACOS_SERVER_ADDR:127.0.0.1:8848}
      config:
        server-addr: ${NACOS_SERVER_ADDR:127.0.0.1:8848}
        timeout: 300000
    gateway:
      discovery:
        locator:
          enabled: true
      routes:
        - id: seo_route
          uri: lb://secret-article
          predicates:
            - Path=/sitemap.xml,/robots.txt
        - id: article_route
          uri: lb://secret-article
          predicates:
            - Path=/api/article/**
          filters:
            - RewritePath=/api/(?<segment>.*), /${segment}
        - id: user_route
          uri: lb://secret-user
          predicates:
            - Path=/api/ums/user/**
          filters:
            - RewritePath=/api/?(?<segment>.*), /$\{segment}
        - id: storage_route
          uri: lb://secret-storage
          predicates:
            - Path=/api/sms/**
          filters:
            - RewritePath=/api/?(?<segment>.*), /$\{segment}
        - id: search_route
          uri: lb://secret-search
          predicates:
            - Path=/api/search/**
          filters:
            - RewritePath=/api/?(?<segment>.*), /$\{segment}
#  JwtToken相關
login:
  jwt:
    private-key: ${local.jwt.private-key}
    public-key: ${local.jwt.public-key}
